body {

}

.app {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 16px;
  margin: 10px;
}